.watchlist-container {
	padding: 10px;
}
.watchlist-container > button {
	font-size: 16px;
	background: inherit;
	border: none;
	padding: 5px;
	outline: none;
	color: #0f69ff;
	cursor: pointer;
	transition: all 0.2s;
}
.watchlist-container > button:hover {
	color: #324fe1;
}
.watchlist-header,
.portfolio-news-header {
	padding: 5px;
}
.news-for-watchlist {
	padding: 5px;
}
.news-for-watchlist h5 {
	text-decoration: underline;
}

/*  */
.watchlist-news .news-card:first-child,
.watchlist-news .news-card {
	grid-column: span 2;
}
.watchlist-news .all-news-card-contnet {
	display: flex;
	text-align: left;
	align-items: center;
	flex-direction: row;
}
.watchlist-news .news-card-grid-container {
	grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 550px) {
	.news-card:first-child .all-news-card-contnet {
		display: flex;
		text-align: left;
		align-items: center;
		flex-direction: column;
	}
	.watchlist-news .all-news-card-contnet {
		display: flex;
		text-align: left;
		align-items: center;
		flex-direction: column;
	}
	.watchlist-table {
		font-size: 14px;
		margin: 0;
	}
	.edit-container {
		width: 85%;
	}
	.watchlist-container {
		padding: 5px;
	}
}
