.watchlist-container {
	padding: 10px;
}
.watchlist-container > button {
	font-size: 16px;
	background: inherit;
	border: none;
	padding: 5px;
	outline: none;
	color: #0f69ff;
	cursor: pointer;
	transition: all 0.2s;
}
.watchlist-container > button:hover {
	color: #324fe1;
}
.watchlist-header,
.portfolio-news-header {
	padding: 5px;
}
.news-for-watchlist {
	padding: 5px;
}
.news-for-watchlist h3 {
	text-align: center;
}

/*  */
.watchlist-news .news-card:first-child,
.watchlist-news .news-card {
	grid-column: span 2;
	/* margin: 0.8rem; */
}
.watchlist-news .all-news-card-contnet {
	display: flex;
	text-align: left;
	align-items: center;
	flex-direction: row;
}
.watchlist-news .news-card-grid-container {
	grid-template-columns: repeat(2, 1fr);
}
.watchlist-page .footer-container {
	background: var(--gray-blue-color);
	color: #fff;
	padding: 10px;
	position: absolute;
	width: 100%;
	bottom: auto;
}
.watchlist-page .footer-container.stick-to-bottom {
	background: var(--gray-blue-color);
	color: #fff;
	padding: 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.my-watchlist {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
@media only screen and (max-width: 550px) {
	.news-card:first-child .all-news-card-contnet {
		display: flex;
		text-align: left;
		align-items: center;
		flex-direction: column;
	}
	.watchlist-news .all-news-card-contnet {
		display: flex;
		text-align: left;
		align-items: center;
		flex-direction: column;
	}
	.watchlist-table {
		font-size: 14px;
		margin: 0;
	}
	.edit-container {
		width: 85%;
	}
	.watchlist-container {
		padding: 5px;
	}
}
@media only screen and (max-width: 750px) {
	.my-watchlist {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}
