.navbar {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: var(--gray-blue-color);
	color: white;
	position: sticky;
	width: 100%;
	top: 0;
}
.navbar li {
	cursor: pointer;
}
.navbar li:hover {
	color: var(--light-green-color);
}
.left-navbar {
	display: flex;
}
.left-navbar > li {
	margin-left: 15px;
}
.right-navbar {
	display: flex;
}
@media only screen and (max-width: 550px) {
	.navbar {
		justify-content: space-evenly;
	}
}
