table {
	margin: 15px;
	text-align: center;
	border-collapse: collapse;
}
.Watchlist-table,
tbody,
tr,
td,
th {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}
.shares-input {
	border: none;
	outline: none;
	text-align: center;
}
