table {
	margin: 15px;
	text-align: center;
	border-collapse: collapse;
}
.Watchlist-table,
tbody,
tr,
td,
th {
	text-align: center;
	padding: 5px;
}
tbody > tr {
	border: 1px solid black;
}
tbody :hover {
	background: var(--table-hover-color);
}
.shares-input {
	width: fit-content;
	border: none;
	outline: none;
	text-align: center;
}
.fa-trash {
	cursor: pointer;
	color: red;
	transition: all 0.2s;
}
.fa-trash:hover {
	transform: scale(1.2);
}
.fa-edit {
	cursor: pointer;
	color: blue;
	transition: all 0.2s;
}
.fa-edit:hover {
	transform: scale(1.2);
}
.break {
	height: 4px;
}
.symbol {
	color: var(--link-color);
}
.green {
	color: green;
}
.red {
	color: red;
}
