.footer-container {
	background: var(--gray-blue-color);
	color: #fff;
	padding: 10px;
}
.footer-list {
	display: flex;
	justify-content: space-around;
}
.footer-list li:hover {
	color: var(--light-green-color);
}
.stick-to-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
}
