.footer-container {
	background: var(--gray-blue-color);
	color: #fff;
	padding: 10px;
	position: absolute;
	width: 100%;
	/* bottom: 0; */
}
.footer-list {
	display: flex;
	justify-content: space-around;
}
.footer-list li:hover {
	color: var(--light-green-color);
}
