:root {
	--dark-color: #262626;
	--green-color: #6f9a37;
	--light-green-color: #8fc941;
	--gray-blue-color: #414856;
	--dark-gray-color: #575757;
	--gray-color: #999999;
	--blue-color: #3498db;
	--purple-color: #7c51a0;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	padding: inherit;
	margin: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
