@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root {
	--dark-color: #262626;
	--green-color: #6f9a37;
	--light-green-color: #8fc941;
	--gray-blue-color: #414856;
	--dark-gray-color: #575757;
	--gray-color: #999999;
	--blue-color: #3498db;
	--purple-color: #7c51a0;
	--table-hover-color: #d8ffff;
	--link-color: #0f69ff;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	/* font-family: Arial, Helvetica, sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
